$bgimage: url("../img/views_background_1.jpg");
$current_color: #ffd700;
$primary_color: #179dff;
$secondary_color: #cccccc;
$tertiary_color: #333;
$dark_red: #c74640;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

// Main Navigation Bar
.main-nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  align-items: center;
  background: $primary_color;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    padding-right: 2.5rem;

    li {
      list-style: none;
      padding: 0 0.9rem;
      transition: all 0.2s ease-in-out;

      a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: $current_color;
        }
      }

      .current {
        color: $current_color;
        border-bottom: 3px #333 solid;
        padding-bottom: 5px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  img {
    height: 30px;
    width: 30px;
  }

  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    .role {
      padding-top: 0.15rem;
      display: flex;
      justify-content: center;
      align-items: center;

      h5 {
        font-size: 0.9rem;
        margin-right: 0.4rem;
      }

      img {
        height: 23px;
        width: 23px;
      }
    }
  }
}

// Home Page
#home-page {
  overflow: hidden;
  height: 100vh;
  background: $tertiary_color;
  .portrait {
    color: #fff;
    padding: 10rem 0;
    display: block;
    text-align: center;

    .hello-world {
      position: relative;
      right: 1500px;
      animation: slideIn ease 0.8s;
      animation-delay: 0.6s;
      animation-fill-mode: forwards;
      color: #d7eef4;
    }

    .description {
      position: relative;
      left: 1500px;
      animation: slideInTwo ease 0.8s;
      animation-delay: 0.6s;
      animation-fill-mode: forwards;
    }

    .home-location {
      opacity: 0;
      animation: fadeIn ease 0.7s;
      animation-delay: 1.4s;
      animation-fill-mode: forwards;
    }

    .out-print {
      color: #9780da;
      text-shadow: 0.1px 0.1px 0.5px #fff;
    }

    .text-print {
      color: #62a831;
      text-shadow: 0.1px 0.1px 0.5px #fff;
    }

    img {
      animation: imgScaleUp ease-out 0.6s;
      border-radius: 50%;
      height: auto;
      width: 20rem;
      padding-bottom: 1rem;
    }

    h1,
    h3 {
      padding-bottom: 5px;
    }

    h4 {
      padding-bottom: 15px;
    }

    i {
      padding-left: 5px;
      text-shadow: 1.5px 1.5px #000;

      &.fa-code {
        color: $current_color;
      }
      &.fa-map-marker-alt {
        color: $dark_red;
      }
    }

    .btn {
      display: inline-block;
      color: #fff;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      padding: 0.6rem 0.6rem;
      background: $primary_color;

      &:hover {
        color: $current_color;
      }
    }

    .home-about-btn {
      transform: scale(0);
      animation: imgScaleUp ease-out 0.6s;
      animation-delay: 1.6s;
      animation-fill-mode: forwards;
    }
  }
}

// About Page
#about-page {
  overflow: hidden;
  height: 100vh;
  background: $secondary_color;

  .about-header {
    padding: 2rem;
    display: block;
    text-align: center;

    h1 {
      padding: 0 1rem;
      display: inline-block;
      font-size: 2rem;
      color: #000;
      border-bottom: 2px solid #333;
    }

    p {
      font-family: "Poppins", sans-serif;
      font-size: 1.05rem;
      padding: 1rem 2rem;
      display: inline-block;
      text-align: center;
      line-height: 1.5;
    }
  }

  .about-grid {
    justify-content: center;
    padding: 1rem 1.4rem;
    display: grid;
    grid-template-columns: 1.2fr 2fr 1.2fr;

    .skills-header {
      padding: 0.2rem 0.2rem;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;

      i {
        padding-left: 0.4rem;
        text-shadow: 1px 1px 1.2px #fff;
      }
    }

    // Skills Grid Section
    .technical-skills {
      border-left: 1px solid #333;
      border-right: 1px solid #333;
      .technical-skills-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        .skill-box {
          padding-bottom: 1rem;
          align-items: center;
          text-align: center;
          .skills-img {
            transition: all 0.2s ease-in-out;
            img {
              padding: 1rem;
              margin: auto;
              width: auto;
              height: 110px;
              display: block;
              object-fit: cover;
            }

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }

    .my-education,
    .other-skills,
    .technical-skills {
      padding: 0 1rem;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
    ul {
      padding: 0 1.2rem;
      li {
        padding-bottom: 0.5rem;
        ul {
          padding: 0.2rem 2rem;

          li {
            padding-bottom: 0.15rem;
            list-style: circle;
          }
        }

        i {
          padding-left: 0.4rem;
        }
      }
    }
  }
}

#project-page {
  height: 100vh;
  background-color: $tertiary_color;

  .project-header {
    display: block;
    text-align: center;
    padding: 2rem;

    h1 {
      padding: 0 1rem;
      display: inline-block;
      font-size: 2rem;
      color: #fff;
      border-bottom: 2px solid #fff;
    }
  }
}

#contact-page {
  overflow: hidden;
  height: 75vh;
  background-color: $secondary_color;
  text-align: center;
  .contact-header {
    display: block;
    padding: 2rem;

    h1 {
      display: inline-block;
      font-size: 2rem;
      color: #000;
      border-bottom: 2px solid #333;
    }

    p {
      font-family: "Poppins", sans-serif;
      padding: 1rem 3rem;
      font-size: 1.05rem;
      display: inline-block;
      text-align: center;
      line-height: 1.4;
    }
  }

  .fill-out-form {
    display: block;
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    input,
    textarea {
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
      border: 0;
      border-radius: 5px;
      padding: 0.4rem 0.4rem;
      width: 80%;
      margin-bottom: 0.5rem;

      &:focus {
        outline: none;
      }
    }

    .submit-button {
      display: inline-block;
      color: #fff;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      padding: 0.6rem 0.6rem;
      background: $primary_color;

      &:hover {
        color: $current_color;
      }
    }
  }
}

// Footer
.main-footer {
  text-align: center;
  background: $primary_color;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0.5rem 2rem;
  .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: #fff;
      text-decoration: none;
      padding: 0.8rem 1rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
        color: $current_color;
      }
    }
  }

  h6 {
    font-size: 0.8rem;
  }
}

@keyframes slideIn {
  0% {
    right: 1500px;
  }
  100% {
    right: 0px;
  }
}

@keyframes slideInTwo {
  0% {
    left: 1500px;
  }

  100% {
    left: 0px;
  }
}

@keyframes slideInThree {
  0% {
    top: 1500px;
  }

  100% {
    top: 0px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes imgScaleUp {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
